<template>
  <div id="background">
    <div id="welcome">
      <div id="getReady">
        <div id="field">
          <img src="../../assets/img/Sports-Finish-Flag-icon.png" height="50px" />
          <p id="description">{{ description }}</p>
        </div>
        <div class="field">
          <p id="getReadyText">{{ timerText }}</p>
          <p id="secondsText">{{ timer }}</p>
        </div>
        <div class="field">
          <p id="hint">{{ hint }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getHint } from '@/assets/js/HintService'
export default {
  data () {
    return {
      description: 'Starting the game...',
      timerText: 'Get Ready!',
      timer: 5,
      hint: getHint()
    }
  },
  created () {
    this.startCountdown()
  },
  watch: {
    '$route': 'startCountdown'
  },
  methods: {
    startCountdown () {
      let timerInterval = setInterval(() => {
        if (this.timer > 1) {
          this.timer--
        } else {
          clearInterval(timerInterval)
          this.$router.push('/Game/' + this.$route.params.controls)
        }
      }, 1000)
    }
  }
}
</script>

<style src="../../assets/css/style.css" />

<style>
@import url('https://fonts.googleapis.com/css?family=Della+Respira|Quattrocento|Halant:400,300|David+Libre|Roboto+Condensed|Raleway');
</style>