body {
    padding: 0px;
    margin:0px;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Quattrocento', serif;
  }
  #background {
    position:absolute;
    height:100%;
    width:100%;
    background: #9acaca; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#9acaca, #51a4a4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#9acaca, #51a4a4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#9acaca, #51a4a4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#9acaca, #51a4a4); /* Standard syntax */
  }

  #scoringForm {
    padding-top: 100px;
    position: absolute;
    background: #9acaca; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#9acaca, #51a4a4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#9acaca, #51a4a4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#9acaca, #51a4a4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#9acaca, #51a4a4); /* Standard syntax */
    text-align: center;
    width:70%;
    height:100%;
  }
  .clickIcon {
    border:0;
    display: inline-block;
    padding:5px;
    border: 1px solid;
    margin-top:5px;
    border-radius: 5px;
    border-top-color:white;
    border-left-color: grey;
    border-bottom-color: black;
    border-right-color: black;
  }
  .clickIcon:hover {
    border-top-color:black;
    border-left-color: black;
    border-bottom-color: white;
    border-right-color: grey;
  }
  .clickIcon span {
    text-align: center;
  }
  .error {
    color: red;
  }
  
  select, input {
    font-family: 'Quattrocento', serif;
  }
  
  body, input,h1,h2 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  a {
    color: #00B7FF;
  }
  
  #game {
    display:inline-block;
  }
  
  #scorecard {
    display:inline-block;
    vertical-align: top;
    padding: 20px;
  }
  
  h1 {
    padding: 0px;
    margin: 0px;
    font-size:20pt;
    margin-bottom:40px;
  }
  
  h2 {
    padding: 0px;
    margin: 0px;
    margin-top:20px;
  }

  h3 {
    margin-top: 10px;
  }
  
  div#index {
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    width:500px;
    margin-left:-250px;
    margin-top:-250px;
  }
  
  table {
    width:100%;
    margin-top:10px;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding:2px 5px;
    text-align: left;
  }
  th {
    font-weight: bold;
  }
  
  input, select {
    font-size:30pt;
    margin:0px;
    height:60px;
  }
  
  select {
    margin-right:10px;
    background: #b2b2b2; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#c3c3c3, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c3c3c3, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c3c3c3, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c3c3c3, #ffffff); /* Standard syntax */
    border-bottom: 1px solid #666;
    border-radius:0px;
  }
  
  input[type="button"] {
    background: #60adad; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#60adad, #328888); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#60adad, #328888); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#60adad, #328888); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#60adad, #328888); /* Standard syntax */
    border-bottom: 1px solid #333;
    border-right: 1px solid #666;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
  
  #scorecard {
    position:absolute;
    background: #f8eccb; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f8eccb, #f3dea5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f8eccb, #f3dea5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f8eccb, #f3dea5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f8eccb, #f3dea5); /* Standard syntax */
    overflow-y: auto;
    overflow-x: hidden;
    border-width: 0 0 0 2px;
    border-style: solid;
    -webkit-border-image:
            -webkit-gradient(linear, 100% 0, 0 0, from(#999), to(#ccc)) 1 100%;
    -webkit-border-image:
            -webkit-linear-gradient(left, #999, #ccc) 1 100%;
    -moz-border-image:
            -moz-linear-gradient(left, #999, #ccc) 1 100%;
    -o-border-image:
            -o-linear-gradient(left, #999, #ccc) 1 100%;
    border-image:
            linear-gradient(to left, #999, #ccc) 1 100%;
    max-height: 723px;
  }
  
  .backarea {
    width:100%;
    height:15px;
    background: #b2b2b2; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#c3c3c3, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c3c3c3, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c3c3c3, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c3c3c3, #ffffff); /* Standard syntax */
  }
  
  .frontarea {
    height:13px;
    background: #60adad; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#60adad, #328888); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#60adad, #328888); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#60adad, #328888); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#60adad, #328888); /* Standard syntax */
    border-bottom: 1px solid #333;
    border-right: 1px solid #666;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
  
  .field {
    margin-top:10px;
    margin-bottom: 10px;
    border-top: 1px solid #999;
    padding: 10px 0px;
  }
  
  p {
    margin-top: 5px;
  }
  
  #goal {
    position:absolute;
    left:-300px;
    top:0px;
    width:200px;
    height:200px;
    background-image: url("../../assets/img/Sports-Finish-Flag-icon.png");
    background-size: 200px 200px;
  }
  
  #getReady {
    position: absolute;
    left:50%;
    top:100px;
    width:400px;
    margin-left:-200px;
    text-align:center;
  }
  #secondsText {
    font-size:60pt;
    margin:0px;
  }