<template>
  <div id="background">
    <div v-if="error">something went wrong...</div>
      <div 
      v-if="scorecard.result"
        id="scoringForm"
        ref="form"
        :width="windowWidth*0.7"
        :height="windowHeight"
      >
      <h1 id="achieved">{{ scorecard.result }}</h1>
      Your name:<br />
      <input type="text" name="name" v-validate="'required|alpha_spaces'" id="name" v-model="playerName" /><br />
      <span class="error" v-if="errors.has('name')">
        {{ errors.first('name') }}
      </span>
      <p>Score: {{ scorecard.score }}</p>
      <input type="button" value="Save your highscore!" v-on:click="saveHighscore" />
      </div>
      <canvas
      v-if="!error"
        id="gamestage"
        ref="canvas"
        :width="windowWidth*0.7"
        :height="windowHeight"
      ></canvas>
      <div id="goal"
        ref="goal"></div>      
      <div id="scorecard"
        :width="windowWidth*0.3"
        :height="windowHeight">
        <h2 id="title">{{ title }}</h2>
        <h3 id="header">{{ header }}</h3>
        <div class="field">
          <p id="timebox">{{ scorecard.timeboxText }}</p>
          <div class="backarea">
            <div class="frontarea" ref="timeboxarea" id="timeboxarea"></div>
          </div>
        </div>
        <div class="field">
          <p id="explored">{{ scorecard.percentageExplored }}</p>
          <div class="backarea">
            <div class="frontarea" ref="exploredarea" id="exploredarea"></div>
          </div>
        </div>
        <div class="field">
          <p id="bugs" v-html="scorecard.bugs"></p>
        </div>
        <div class="field">
          <p id="features" v-html="scorecard.features"></p>
        </div>
      </div>
  </div>
</template>

<script>
import { PlayGame } from '@/assets/js/gameController'
import { getInitialMapData } from '@/assets/js/drawer'
import { generateMap, getGoal } from '@/assets/js/MapmakerService'
import { saveHighscore } from '@/assets/js/HighscoreService'
export default {
  data () {
    return {
      title: 'The Exploratory Testing Game',
      header: 'session #' + Math.round(Math.random() * 20000 + 2000),
      playerName: undefined,
      scorecard: {
        bugs: 'no bugs found yet',
        features: 'no features found yet',
        percentageExplored: '0%',
        exploredArea: undefined,
        timebox: 30,
        timeboxStart: new Date(),
        timeboxText: '30s',
        timeboxArea: undefined,
        score: 10,
        result: undefined
      },
      windowWidth: document.documentElement.clientWidth,
      windowHeight: document.documentElement.clientHeight,
      originalSWidth: document.documentElement.clientWidth,
      originalSHeight: document.documentElement.clientHeight,
      error: undefined
    }
  },
  mounted () {
    this.canvas = this.$refs.canvas
    this.initialMap = undefined
    this.goal = {
      element: this.$refs.goal
    }
    this.scorecard.timeboxArea = this.$refs.timeboxarea
    this.scorecard.exploredArea = this.$refs.exploredarea
    this.hero = {
      x: (this.windowWidth * 0.7) / 2,
      y: this.windowHeight / 2,
      percentageX: 1,
      percentageY: 1,
      friction: 1.10,
      size: 30,
      speedX: 0,
      speedY: 0,
      visitedPos: [{
        x: (this.windowWidth * 0.7) / 2,
        y: this.windowHeight / 2
      }]
    }
    this.controls = {
      type: this.$route.params.controls,
      movLeft: 0,
      movRight: 0,
      movUp: 0,
      movDown: 0,
      mouseX: 0,
      mouseY: 0
    }
    this.context = this.canvas.getContext('2d')
    this.mapContext = {
      canvas: this.canvas,
      context: this.context,
      margin: 50,
      height: this.canvas.clientHeight - 100,
      screenHeight: this.canvas.clientHeight,
      width: this.canvas.clientWidth - 100,
      screenWidth: this.canvas.clientWidth,
      lines: 13
    }
    this.setupGame()

    this.setupListeners()
  },
  watch: {
    '$route': 'setupGame'
  },
  methods: {
    setupGame () {
      generateMap((error) => { this.error = error }, (mapData) => {
        this.goal.pos = getGoal(mapData)
        this.mapContext.canvas.style.visibility = 'hidden'
        this.initialMap = getInitialMapData(this.mapContext, mapData)
        const playing = setInterval(() => {
          const gameStatus = PlayGame(this.mapContext, mapData, this.goal, this.hero, this.controls, this.initialMap, this.scorecard, this.windowWidth, this.windowHeight)
          this.mapContext.canvas.style.visibility = 'visible'
          if (gameStatus === 'Completed') {
            clearInterval(playing)
            this.scorecard.result = 'Completed!'
            this.scorecard.score = this.scorecard.score * 2
          }
          if (gameStatus === 'Failed') {
            clearInterval(playing)
            this.scorecard.result = 'Time`s up!'
            this.scorecard.score = this.scorecard.score
          }
        }, 25)
      })
    },
    setupListeners () {
      this.getWindowHeight()
      this.getWindowWidth()

      window.addEventListener('resize', this.getWindowWidth)
      window.addEventListener('resize', this.getWindowHeight)
      switch (this.controls.type) {
        case 'Keyboard':
          window.addEventListener('keydown', this.keyPressedHandler, false)
          window.addEventListener('keyup', this.keyReleasedHandler, false)
          break
        case 'Mouse':
          window.addEventListener('mousemove', this.mouseMoveHandler, false)
          break
      }
    },
    getWindowWidth (event) {
      this.windowWidth = document.documentElement.clientWidth
      this.mapContext.width = (document.documentElement.clientWidth * 0.7) - 100
      this.mapContext.screenWidth = document.documentElement.clientWidth * 0.7
      this.hero.percentageX = this.windowWidth / this.originalSWidth
    },
    getWindowHeight (event) {
      this.windowHeight = document.documentElement.clientHeight
      this.mapContext.height = document.documentElement.clientHeight - 100
      this.mapContext.screenHeight = document.documentElement.clientHeight
      this.hero.percentageY = this.windowHeight / this.originalSHeight
    },
    keyPressedHandler (event) {
      const ek = event.keyCode
      if (ek === 37) this.controls.movLeft = 1
      if (ek === 39) this.controls.movRight = 1
      if (ek === 38) this.controls.movUp = 1
      if (ek === 40) this.controls.movDown = 1
    },
    keyReleasedHandler (event) {
      const ek = event.keyCode
      if (ek === 37) this.controls.movLeft = 0
      if (ek === 39) this.controls.movRight = 0
      if (ek === 38) this.controls.movUp = 0
      if (ek === 40) this.controls.movDown = 0
    },
    mouseMoveHandler (event) {
      this.controls.mouseX = event.pageX
      this.controls.mouseY = event.pageY
    },
    saveHighscore () {
      if (!this.playerName) {
        return
      }
      saveHighscore(this.playerName, this.scorecard.score, (error) => {
        throw new Error(error)
      }, (success) => {
        this.$router.push('/')
      })
    }
  }
}
</script>

<style src="../../assets/css/style.css" />

<style>
@import url('https://fonts.googleapis.com/css?family=Della+Respira|Quattrocento|Halant:400,300|David+Libre|Roboto+Condensed|Raleway');
</style>