<template>
  <div id="app">
    <router-view class="view"></router-view>
  </div>
</template>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107204107-2"></script>
<script>
  window.dataLayer = window.dataLayer || [] // eslint-disable-line no-use-before-define
  function gtag () { dataLayer.push(arguments) } // eslint-disable-line no-use-before-define
  gtag('js', new Date())

  gtag('config', 'UA-107204107-2')
</script>