<template>
  <controls>
    <h1>The Exploratory Testing Game</h1>
    Play using:<br />
    <a href="/Countdown/Keyboard" class="clickIcon" id="goKeyboard">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve"><g transform="translate(0, 0)"><path fill="#AFAFAF" d="M46,11H2c-0.5522034,0-1,0.4477997-1,1v24c0,0.5522003,0.4477966,1,1,1h44c0.5521965,0,1-0.4477997,1-1V12 C47,11.4477997,46.5521965,11,46,11z"></path> <path fill="#FFFFFF" d="M8,19H5c-0.5523033,0-1-0.4477005-1-1v-2c0-0.5523005,0.4476967-1,1-1h3c0.5522966,0,1,0.4476995,1,1v2 C9,18.5522995,8.5522966,19,8,19z"></path> <path fill="#FFFFFF" d="M15,19h-3c-0.5523033,0-1-0.4477005-1-1v-2c0-0.5523005,0.4476967-1,1-1h3c0.5522966,0,1,0.4476995,1,1v2 C16,18.5522995,15.5522966,19,15,19z"></path> <path fill="#FFFFFF" d="M22,19h-3c-0.5523033,0-1-0.4477005-1-1v-2c0-0.5523005,0.4476967-1,1-1h3c0.5522957,0,1,0.4476995,1,1v2 C23,18.5522995,22.5522957,19,22,19z"></path> <path fill="#FFFFFF" d="M29,19h-3c-0.5523033,0-1-0.4477005-1-1v-2c0-0.5523005,0.4476967-1,1-1h3c0.5522957,0,1,0.4476995,1,1v2 C30,18.5522995,29.5522957,19,29,19z"></path> <path fill="#FFFFFF" d="M36,19h-3c-0.5523033,0-1-0.4477005-1-1v-2c0-0.5523005,0.4476967-1,1-1h3c0.5522957,0,1,0.4476995,1,1v2 C37,18.5522995,36.5522957,19,36,19z"></path> <path fill="#FFFFFF" d="M43,19h-3c-0.5523033,0-1-0.4477005-1-1v-2c0-0.5523005,0.4476967-1,1-1h3c0.5522957,0,1,0.4476995,1,1v2 C44,18.5522995,43.5522957,19,43,19z"></path> <path fill="#FFFFFF" d="M8,26H5c-0.5523033,0-1-0.4477005-1-1v-2c0-0.5522995,0.4476967-1,1-1h3c0.5522966,0,1,0.4477005,1,1v2 C9,25.5522995,8.5522966,26,8,26z"></path> <path fill="#FFFFFF" d="M15,26h-3c-0.5523033,0-1-0.4477005-1-1v-2c0-0.5522995,0.4476967-1,1-1h3c0.5522966,0,1,0.4477005,1,1v2 C16,25.5522995,15.5522966,26,15,26z"></path> <path fill="#FFFFFF" d="M22,26h-3c-0.5523033,0-1-0.4477005-1-1v-2c0-0.5522995,0.4476967-1,1-1h3c0.5522957,0,1,0.4477005,1,1v2 C23,25.5522995,22.5522957,26,22,26z"></path> <path fill="#FFFFFF" d="M29,26h-3c-0.5523033,0-1-0.4477005-1-1v-2c0-0.5522995,0.4476967-1,1-1h3c0.5522957,0,1,0.4477005,1,1v2 C30,25.5522995,29.5522957,26,29,26z"></path> <path fill="#FFFFFF" d="M43,26H33c-0.5523033,0-1-0.4477005-1-1v-2c0-0.5522995,0.4476967-1,1-1h10c0.5522957,0,1,0.4477005,1,1v2 C44,25.5522995,43.5522957,26,43,26z"></path> <path fill="#FFFFFF" d="M8,33H5c-0.5523033,0-1-0.4477005-1-1v-2c0-0.5522995,0.4476967-1,1-1h3c0.5522966,0,1,0.4477005,1,1v2 C9,32.5522995,8.5522966,33,8,33z"></path> <path fill="#FFFFFF" d="M36,33H12c-0.5523033,0-1-0.4477005-1-1v-2c0-0.5522995,0.4476967-1,1-1h24c0.5522957,0,1,0.4477005,1,1v2 C37,32.5522995,36.5522957,33,36,33z"></path> <path fill="#FFFFFF" d="M43,33h-3c-0.5523033,0-1-0.4477005-1-1v-2c0-0.5522995,0.4476967-1,1-1h3c0.5522957,0,1,0.4477005,1,1v2 C44,32.5522995,43.5522957,33,43,33z"></path></g></svg>
    </a>
    <a href="/Countdown/Mouse" class="clickIcon" id="goMouse">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve"><g transform="translate(0, 0)"><path fill="#444444" d="M28,46h-8c-5.523,0-10-4.477-10-10V12c0-5.523,4.477-10,10-10h8c5.523,0,10,4.477,10,10v24 C38,41.523,33.523,46,28,46z"></path> <path fill="#444444" d="M28,47h-8c-6.065,0-11-4.935-11-11V12C9,5.935,13.935,1,20,1h8c6.065,0,11,4.935,11,11v24 C39,42.065,34.065,47,28,47z M20,3c-4.963,0-9,4.038-9,9v24c0,4.962,4.037,9,9,9h8c4.963,0,9-4.038,9-9V12c0-4.962-4.037-9-9-9H20z"></path> <path fill="#606060" d="M23,3h-3c-4.971,0-9,4.029-9,9v3c0,4.971,4.029,9,9,9h3V3z"></path> <path fill="#606060" d="M25,3h3c4.971,0,9,4.029,9,9v3c0,4.971-4.029,9-9,9h-3V3z"></path> <path fill="#72C472" d="M24,17L24,17c-1.105,0-2-0.895-2-2v-3c0-1.105,0.895-2,2-2h0c1.105,0,2,0.895,2,2v3 C26,16.105,25.105,17,24,17z"></path></g></svg>
    </a>
  </controls>
</template>

<script>

</script>

<style src="../assets/css/style.css">
