<template>
  <highscore>
    <h2>Highscores</h2>

    <div id="highscores" v-if="highscores">
      <table>
        <tr>
          <th>Rank</th>
          <th>Who</th>
          <th>How much</th>
          <th>When</th>
        <tr v-for="(highscore, index) in highscores" bind-id="$index" bind-data="highscore">
          <td>{{ index+1 }}</td>
          <td>{{ highscore.name }}</td>
          <td>{{ highscore.score }}</td>
          <td>{{ highscore.date }}</td>
        </tr>
      </table>
    </div>
    <div v-else>
      <br />
      Loading highscores....
    </div>
    <div class="error">
      {{ error }}
    </div>
  </highscore>
</template>

<script>
import { getHighscores } from '@/assets/js/HighscoreService'
export default {
  data () {
    return {
      highscores: null,
      error: null
    }
  },
  created () {
    this.fetchData()
  },
  methods: {
    fetchData () {
      this.error = this.highscores = null
      getHighscores(function (err) {
        console.log(err)
        this.error = err
      }.bind(this),
      function (data) {
        console.log(data)
        this.highscores = data
      }.bind(this))
    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Della+Respira|Quattrocento|Halant:400,300|David+Libre|Roboto+Condensed|Raleway');
</style>

<style src="../assets/css/style.css">
