<template>
  <div id="background">
    <div id="index">
      <controls></controls>
      <highscore></highscore>
    </div>
  </div>
</template>

<script>
import Controls from './Controls.vue'
import Highscore from './Highscore.vue'
export default {
  name: 'app',
  components: {
    Controls, Highscore
  },
  data () {
    return {
    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Della+Respira|Quattrocento|Halant:400,300|David+Libre|Roboto+Condensed|Raleway');
</style>