<template>
  <notfound>
    <div id="background">
      <div id="welcome">
        This page does not exist.
      </div>
    </div>
  </notfound>
</template>

<script>

</script>

<style src="../assets/css/style.css">